<div class="container">
<div class="jumbotron jumbotron-fluid">
  <form>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" name="title" class="form-control"/>
    </div>
    <div class="form-group">
      <label for="post">Post</label>
      <textarea name="post" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <label for="pictures">Pictures</label>
      <input type="text" name="pictures" class="form-control"/>
    </div>
      <div class="form-group">
      <label for="tags">Tags</label>
      <input type="text" name="tags" class="form-control"/>
    </div>
  </form>
</div>
</div>