<div class="container">
  <div class="row">
  <div id="aside" class="col-md-2">
    <div>
      <a href="#"><h3>Post 10</h3></a>
     <p>This post's synopsis</p>
      <hr>
    </div>
    <div>
      <a href="#"><h3>Post 9</h3></a>
     <p>This post's synopsis</p>
      <hr>
    </div>
    <div>
      <a href="#"><h3>Post 8</h3></a>
     <p>This post's synopsis</p>
      <hr>
    </div>
  </div>
   <div class="col-md-8 text-center">
     <div class="post">
       <div class="postTitle">
       <a href="#"><h2>Today</h2></a>
       </div>
       <hr class="smallHr">
       <div class="postContent">
       <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p> <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p></div>
       <h8 class="date"><em>February 6, 2017</em> </h8>
       <div class="tags">
         <h8><strong>Tags: </strong><a href="#">lorem</a> <a href="#">ipsum</a></h8>
       </div>
     </div>
     <div class="post">
       <div class="postTitle"><a href="#"><h2>Yesterday</h2></a></div>
       <hr class="smallHr">
       <div class="postContent"><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p> <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p></div>
       <h8 class="date"><em>February 5, 2017</em> </h8>
       <div class="tags">
         <h8><strong>Tags: </strong><a href="#">coding</a> <a href="#">javascript</a></h8>
       </div>
     </div>
  </div>
  </div>
  <div class="row">
    <div class="bs-component col-md-12">
      <ul class="pager">
        <li><a href="#">&#8602;</a></li>
        <li><a href="#"> &#8603;</a></li>
      </ul>
    </div>
  </div>
</div>
